{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .GroupLabels.alertname }}
{{ end }}

{{ define "slack.default.text" }}
{{ range .Alerts }}
*Alert:* {{ .Labels.alertname }} - `{{ .Labels.severity }}`
*Description:* {{ .Annotations.description }}
*Summary:* {{ .Annotations.summary }}
*Details:*
{{ range .Labels.SortedPairs }} • *{{ .Name }}:* `{{ .Value }}`
{{ end }}
{{ if .Annotations.runbook_url }}*Runbook:* {{ .Annotations.runbook_url }}{{ end }}
{{ end }}
{{ end }}

{{ define "slack.default.fallback" }}
{{ template "slack.default.title" . }} | {{ template "slack.default.text" . }}
{{ end }}

{{ define "slack.default.pretext" }}
{{ end }}

{{ define "slack.default.iconemoji" }}
{{ if eq .Status "firing" }}:fire:{{ else }}:white_check_mark:{{ end }}
{{ end }}
